<a href="https://colab.research.google.com/github/christophergarcia89/machinelearning-az/blob/master/Apuntes_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### El método `.format()`

Existe otra forma de concatenar strings y variables de cualquier tipo dentro de un `print()` y es gracias al método `.format()`. Lo que hay que hacer es indicar con llaves, `{}`, donde queremos situar el resultado de las variables y luego, dentro de los paréntesis del método `.format()`, indicar las variables en su respectivo orden

In [ ]:
nombre = "Ricardo"
numero_gatos = 3
print("Mi abuelo se llama {} y tiene {} gatos".format(nombre, numero_gatos))

Mi abuelo se llama Ricardo y tiene 3 gatos

## Substrings

Para acceder a un caracter de una variable string usamos la sintaxis de `[]`

Si precedemos el índice por un `-`, entonces empezamos desde el final

Si queremos acceder a varios caracteres seguidos, podemos utilizar la función `:`

In [ ]:
s[4:7] # Del quinto al séptimo

'fan'

In [ ]:
s[:7] # Del primero al séptimo

'Soy fan'

In [ ]:
s[8:] # Del noveno al final

'e los videojuegos'

Si precedemos por `-` al índice de la izquierda de `:` y no ponemos ninguno a su derecha, lo que hacemos es obtener los últimos elementos

In [ ]:
s[-10:] # Diez últimos elementos

'ideojuegos'

Si al contrario, precedemos por `-` al índice de la derecha, sin poner ningún índice a la izquierda de `:`, obtendremos todos los elementos salvo el número de elementos indicados por el índice (recordemos que si precedíamos por `-`, los índices empezaban desde el final).

In [ ]:
s[:-10]

'Soy fan de los v'

### El método `.format()`

Existe otra forma de concatenar strings y variables de cualquier tipo dentro de un `print()` y es gracias al método `.format()`. Lo que hay que hacer es indicar con llaves, `{}`, donde queremos situar el resultado de las variables y luego, dentro de los paréntesis del método `.format()`, indicar las variables en su respectivo orden

In [ ]:
nombre = "Ricardo"
numero_gatos = 3
print("Mi abuelo se llama {} y tiene {} gatos".format(nombre, numero_gatos))

Mi abuelo se llama Ricardo y tiene 3 gatos

## Substrings

Para acceder a un caracter de una variable string usamos la sintaxis de `[]`

Si precedemos el índice por un `-`, entonces empezamos desde el final

Si queremos acceder a varios caracteres seguidos, podemos utilizar la función `:`

In [ ]:
s[4:7] # Del quinto al séptimo

'fan'

In [ ]:
s[:7] # Del primero al séptimo

'Soy fan'

In [ ]:
s[8:] # Del noveno al final

'e los videojuegos'

Si precedemos por `-` al índice de la izquierda de `:` y no ponemos ninguno a su derecha, lo que hacemos es obtener los últimos elementos

In [ ]:
s[-10:] # Diez últimos elementos

'ideojuegos'

Si al contrario, precedemos por `-` al índice de la derecha, sin poner ningún índice a la izquierda de `:`, obtendremos todos los elementos salvo el número de elementos indicados por el índice (recordemos que si precedíamos por `-`, los índices empezaban desde el final).

In [ ]:
s[:-10]

'Soy fan de los v'

El método `.split()` rompe el string en el caracter que le indiquemos y elimina dicho caracter.

In [ ]:
s.split(" ") # Rompemos por los espacios

['El', 'elefante', 'tiene', 'las', 'orejas', 'muy', 'grandes']

El método `.strip()` elimina los espacios sobrantes a principio y final del string.

In [ ]:
s = "       El elefante tiene las orejas muy grandes        "
s.strip()

'El elefante tiene las orejas muy grandes'

## Otras funciones a tener en cuenta

La función `len()` nos devuelve el número de caracteres del string.

In [ ]:
s = "Tengo hambre"
len(s)

12

La función `input()` sirve para que el usuario introduzca un string por consola:

In [ ]:
print("Introduce tu nombre: ")
name = input("Nombre: ")

Introduce tu nombre:
Nombre: Juan Gabriel Gomila

In [ ]:
print("Introduce tu edad: ")
age = int(input("Edad: "))

Introduce tu edad:
Edad: 32

In [ ]:
print("Introduce tu altura: ")
height = float(input("Altura (en m): "))

Introduce tu altura:
Altura (en m): 1.66

In [ ]:
print("La edad de {} es {} y mide {}m".format(name, age, height))

La edad de Juan Gabriel Gomila es 32 y mide 1.66m

### Más métodos de string

El método `.startswith()` nos devuelve verdadero si el string empieza con el caracter o la cadena de caracteres indicado.

In [ ]:
s = "Mallorca es una isla preciosa"
s.startswith("m")

False

In [ ]:
s.startswith("Mallorca")

True

In [ ]:
s = "Mallorca es una isla preciosa"
s.endswith("a")

True

## Operadores de decisión

### `if`

Cuando queremos comprobar si se cumple alguna condición, utilizamos el operador de decisión `if`. La sintaxis que debemos seguir es la siguiente:

In [ ]:
if condicion:
    consecuencia

In [ ]:
age = 13
if (age >= 16 and age <= 40):
    print("Puedes formar parte de la tripulación de Pyratilla")
else:
    print("No satisfaces una necesidad básica para pertenecer a la tripulación del gran Pyratilla")

No satisfaces una necesidad básica para pertenecer a la tripulación del gran Pyratilla

### `elif`

Ahora, en vez de comprobar si se cumple o no una condición, nos podríamos preguntar cómo haríamos para comprobar más de una condición. Podríamos hacerlo a lo bruto anidando operadores `if`, esto es, metiendo un `if` dentro de otro; o bien, podríamos hacerlo utilizando el operador de decisión `elif`.

El operador `elif` funciona del siguiente modo: se empieza con un operador `if`; si la condición de este no se cumple, pasamos a la siguiente condición posible precedida de un `elif`; si esta tampoco se cumple, pasamos al siguiente `elif`; seguimos así hasta que o bien se satisface alguna condición y realizamos su consecuencia, o hasta llegar al `else`, que implica que no se ha satisfecho ninguna de las condiciones anteriores.

La sintaxis del operador de decisión `elif` es la siguiente:

In [ ]:
if condición_1:
  consecuencia
elif condición_2:
  consecuencia
elif condición_3:
  consecuencia
. 
. 
. 
else:
  consecuencia

Recuperemos el ejemplo de que tenemos que tener 16 años o más, pero menos de 40 para ser miembros de la tripulación del pirata Pyratilla. Vamos a mejorar lo que habíamos conseguido con el `if` y el `else`, añadiendo el operador `elif`.

Además, veremos que nos dice con la edad de 20 años.

In [ ]:
age = 20

if age > 40:
  print("No puedes pertenecer a la tripulación, te pasas de la edad límite que ha puesto el gran capitán Pyratilla.")
elif age >= 16:
  print("Podrás optar a pertenecer la tripulación. Aún te queda superar la entrevista con el capitán.")
else:
  print("Eres muy pequeño todavía para la vida pirata!")

Podrás optar a pertenecer la tripulación. Aún te queda superar la entrevista con el capitán.

El funcionamiento del código anterior es el siguiente:

- El `if` comprueba si la edad introducida es mayor a 40.
- El `elif` comprueba si la edad se encuentra en el intervalo [16, 40]
- El `else` implica que la edad introducida es menor a 16

### Operador ternario

Si queremos hacer un simple `if` / `else` en una sola línea de código, podemos utilizar el operador ternario, que tiene la siguiente estructura:

In [ ]:
consecuencia_cierto if condición else consecuencia_falso

Por ejemplo, hagamos el caso de mayor de edad. Si la edad es mayor o igual a 18, entonces es mayor de edad en España. Si no, entonces es menor de edad en España.

In [ ]:
age = 20
texto_mayor = "Eres mayor de edad en España"
texto_menor = "Eres menor de edad en España"

print(texto_mayor) if age >= 18 else print(texto_menor)

Eres mayor de edad en España

### Operadores Anidados

In [ ]:
age = 20
name = "Martin"

if age >= 18:
  if name.startswith("M") or name.startswith("m"):
    print("Eres mayor de edad pues tienes {} años y tu nombre, que es {}, empieza por M".format(age, name))
  else:
    print("Eres mayor de edad pues tienes {} años".format(age))
else:
  print("Eres muy joven")

Eres mayor de edad pues tienes 20 años y tu nombre, que es Martin, empieza por M

## El bucle `while`

La idea del bucle `while` es: mientras la condición sea cierta, seguimos realizando las líneas del interior del bucle. Una vez la condición deja de ser verdadera, salimos del bucle.

Su estructura es la siguiente

In [ ]:
inicialización de la variable de la condición
while condición verdadera:
  instrucción 1
  instrucción 2
  .
  .
  .
  instrucción n

## El bucle `while`

La idea del bucle `while` es: mientras la condición sea cierta, seguimos realizando las líneas del interior del bucle. Una vez la condición deja de ser verdadera, salimos del bucle.

Su estructura es la siguiente

In [ ]:
i = 1 # Inicializamos la variable
while i <= 10: # Queremos que i como mucho valga 10
  print(i) # Imprimimos los números
  i += 1 # Incrementamos una unidad en cada iteración

1
2
3
4
5
6
7
8
9
10

### Comando `break`

`break` es muy útil si dada una condición queremos que se salga inmediatamente de un bucle `while`. Veámoslo con un ejemplo:

---

#### Ejemplo 1

La sucesión de Fibonacci es una sucesión infinita que se caracteriza porque cada término es la suma de los dos anteriores. Algunos de sus términos son 1, 1, 2, 3, 5, 8, 13...

Supongamos que queremos que se nos impriman los 20 primeros términos de esta serie. Por tanto, necesitaremos por un lado los términos de la serie y, por otro, los índices que ocupan.

**Ejercicio.** Pensad en cómo podríais resolver este problema en el cual se exige que en algún momento utilicéis el comando `break`.

In [ ]:
fibo_ant = 1 # Término anterior
fibo = 1 # Término actual
idx = 3 # Como ya tenemos los dos primeros términos, empezamos con el índice 3

print("El término {} ocupa la posición {}".format(fibo_ant, 1))
print("El término {} ocupa la posición {}".format(fibo, 2))

while fibo <= 500000: # Establecemos una cota para que el bucle no sea infinito
  temp = fibo  # Guardamos temporalmente el fibonacci actual 
  fibo = fibo + fibo_ant  # Calculamos el nuevo término de la sucesión
  fibo_ant = temp # Modicamos el valor del término anterior
  
  print("El término {} ocupa la posición {}".format(fibo, idx))
  
  if idx == 20: # Si llegamos al vigésimo índice, 
    break       # salimos del bucle
  
  idx += 1 # Incrementamos el valor del índice

El término 1 ocupa la posición 1
El término 1 ocupa la posición 2
El término 2 ocupa la posición 3
El término 3 ocupa la posición 4
El término 5 ocupa la posición 5
El término 8 ocupa la posición 6
El término 13 ocupa la posición 7
El término 21 ocupa la posición 8
El término 34 ocupa la posición 9
El término 55 ocupa la posición 10
El término 89 ocupa la posición 11
El término 144 ocupa la posición 12
El término 233 ocupa la posición 13
El término 377 ocupa la posición 14
El término 610 ocupa la posición 15
El término 987 ocupa la posición 16
El término 1597 ocupa la posición 17
El término 2584 ocupa la posición 18
El término 4181 ocupa la posición 19
El término 6765 ocupa la posición 20

### Combinación `while ... else`

Podemos combinar un bucle `while` con el operador `else` para ejecutar un bloque de código una vez la condición del `while` haya dejado de ser verdadera.

In [ ]:
i = 10
print("Preparados para despegue. Empieza la cuenta atrás.")
while i >= 0:
  print(i)
  i -= 1
else:
  print("La cuenta atrás ha finalizado.")

Preparados para despegue. Empieza la cuenta atrás.
10
9
8
7
6
5
4
3
2
1
0
La cuenta atrás ha finalizado.

## Bucle `for`

La idea del bucle `for` es: para todos los elementos de la clave, seguimos realizando las líneas del bucle. Una vez nos quedemos sin elementos, salimos del bucle.

Su estructura es la siguiente

In [ ]:
for clave:
  instrucción 1
  instrucción 2
  .
  .
  .
  instrucción n

**Observación.** Vuelven a aparecer tanto los dos puntos después de la clave como la indentación previa a las instrucciones que se encuentran dentro del bucle.

Un ejemplo del uso de un bucle `for` es el de recorrer todos los caracteres de un string:

In [ ]:
s = "Me gustan las matemáticas"

for c in s:
  print(c)

M
e

g
u
s
t
a
n

l
a
s

m
a
t
e
m
á
t
i
c
a
s

### Función `range()`

La función `range()` tiene 3 posibles argumentos: 
 
 - `start` 
 - `stop` 
 - `step`

Veremos el uso de la función `range()` con un ejemplo. Recuperemos el ejemplo en que queríamos imprimir los 10 primeros números naturales:

In [ ]:
#range(start,stop,step)
#range(1, 11, 1)
for i in range(1, 11, 1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

**Observación.** Cosas a tener en cuenta cuando usamos la función `range()`:

- El elemento indicado en el argumento `stop` nunca se incluye.
- Si no indicamos ningún elemento en el argumento `start`, por defecto éste vale 0.
- El valor por defecto del argumento `step` es 1.


Por lo tanto, obtendríamos el mismo resultado que en el ejemplo anterior ejecutando las siguientes líneas de código:

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

**Observación.** Cosas a tener en cuenta cuando usamos la función `range()`:

- El elemento indicado en el argumento `stop` nunca se incluye.
- Si no indicamos ningún elemento en el argumento `start`, por defecto éste vale 0.
- El valor por defecto del argumento `step` es 1.


Por lo tanto, obtendríamos el mismo resultado que en el ejemplo anterior ejecutando las siguientes líneas de código:

¿Y si quisiéramos imprimir los 10 primeros números naturales invirtiendo el orden? Pues, con un bucle `for`, lo haríamos del siguiente modo:

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for x in range(5):
    print(x)

0
1
2
3
4

**Observación.** Cosas a tener en cuenta cuando usamos la función `range()`:

- El elemento indicado en el argumento `stop` nunca se incluye.
- Si no indicamos ningún elemento en el argumento `start`, por defecto éste vale 0.
- El valor por defecto del argumento `step` es 1.


Por lo tanto, obtendríamos el mismo resultado que en el ejemplo anterior ejecutando las siguientes líneas de código:

¿Y si quisiéramos imprimir los 10 primeros números naturales invirtiendo el orden? Pues, con un bucle `for`, lo haríamos del siguiente modo:

In [ ]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

### Comando `continue`

El comando `continue` es similar a `break`, pero en vez de salir del bucle, lo que hace es interrumpir la iteración en la que se encuentra y empezar la siguiente iteración.

---
#### Ejemplo 2

Supongamos que queremos que se nos impriman todos los números entre 0 y 100 que no son ni divisibles entre 2 ni entre 5.

**Ejercicio.** Pensad cómo podríais resolver este problema en el cual se exige que en algún momento utilicéis el comando `continue`.

In [ ]:
for i in range(101):
  if i % 2 == 0 or i % 5 == 0:
    continue
  print(i)

1
3
7
9
11
13
17
19
21
23
27
29
31
33
37
39
41
43
47
49
51
53
57
59
61
63
67
69
71
73
77
79
81
83
87
89
91
93
97
99

## Bucles anidados

Se trata de bucles dentro de bucles

---

#### Ejemplo 3

Vamos a calcular las tablas de multiplicar de los números del 1 al 10 anidando dos bucles `for`:

In [ ]:
for i in range(1, 11):
  print("\nTabla de multiplicar del {}".format(i))
  for j in range(1, 21):
    print("{} x {} = {}".format(i, j, i * j))

Tabla de multiplicar del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
1 x 13 = 13
1 x 14 = 14
1 x 15 = 15
1 x 16 = 16
1 x 17 = 17
1 x 18 = 18
1 x 19 = 19
1 x 20 = 20

Tabla de multiplicar del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40

Tabla de multiplicar del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
3 x 13 = 39
3 x 14 = 42
3 x 15 = 45
3 x 16 = 48
3 x 17 = 51
3 x 18 = 54
3 x 19 = 57
3 x 20 = 60

Tabla de multiplicar del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
4 x 13 = 52
4 x 14 = 56
4 x 15 = 60
4 x 16 = 64
4 x 17 = 68
4 x 18 = 72
4 x 19 = 76
4 x 20 = 80

Tabla de multiplicar del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100

Tabla de multiplicar del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
6 x 20 = 120

Tabla de multiplicar del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105
7 x 16 = 112
7 x 17 = 119
7 x 18 = 126
7 x 19 = 133
7 x 20 = 140

Tabla de multiplicar del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
8 x 20 = 160

Tabla de multiplicar del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180

Tabla de multiplicar del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120
10 x 13 = 130
10 x 14 = 140
10 x 15 = 150
10 x 16 = 160
10 x 17 = 170
10 x 18 = 180
10 x 19 = 190
10 x 20 = 200

## Lista

La primera estructura de datos que veremos son las **listas**. Éstas son un conjunto de elementos ordenados separados por comas y escritos entre claudators, `[]`. 

Las listas son:
- hetereogéneas: los elementos pueden ser de distinto tipo en una misma lista
- mutables: los elementos pueden ser modificados

Un ejemplo de lista sería

In [ ]:
l = ["Juan", 31, 172.32, True]
print(l)

['Juan', 31, 172.32, True]

In [ ]:
type(l)

list

### Tamaño de una lista

Para saber la longitud o el tamaño de una lista, podemos hacer uso de la función `len()`

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(l)

9

In [ ]:
l = ["Zoe", "Pablo", "Miguel", "Silvia"]
len(l)

4

### Tamaño de una lista

Para saber la longitud o el tamaño de una lista, podemos hacer uso de la función `len()`

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(l)

9

In [ ]:
l = ["Zoe", "Pablo", "Miguel", "Silvia"]
len(l)

4

In [ ]:
print(names[-1]) # Último elemento

Avelina

In [ ]:
print(names[-3]) # Tercer elemento empezando por el final

Claudia

Si en vez de querer acceder a los elementos uno por uno estamos interesados en acceder a avarios elementos a la vez, podemos hacer uso de la función `:`

In [ ]:
print(names[2:4])

['Claudia', 'Jorge']

In [ ]:
print(names[:3])

['Maria', 'Juan', 'Claudia']

In [ ]:
print(names[3:])

['Jorge', 'Avelina']

### Tamaño de una lista

Para saber la longitud o el tamaño de una lista, podemos hacer uso de la función `len()`

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(l)

9

In [ ]:
l = ["Zoe", "Pablo", "Miguel", "Silvia"]
len(l)

4

In [ ]:
print(names[-1]) # Último elemento

Avelina

In [ ]:
print(names[-3]) # Tercer elemento empezando por el final

Claudia

Si en vez de querer acceder a los elementos uno por uno estamos interesados en acceder a avarios elementos a la vez, podemos hacer uso de la función `:`

In [ ]:
print(names[2:4])

['Claudia', 'Jorge']

In [ ]:
print(names[:3])

['Maria', 'Juan', 'Claudia']

In [ ]:
print(names[3:])

['Jorge', 'Avelina']

Además de acceder, podemos modificar los elementos de una lista

In [ ]:
names[0] = "Marina"
names[3] = "Jaime"
names

['Marina', 'Juan', 'Claudia', 'Jaime', 'Avelina']

Podemos añadir nuevos elementos a una lista con el método `.append()`

**Observación.** Los elementos añadidos con el método `.append()`, se incluyen al final.

Si quisiéramos añadir un nuevo elemento a una lista, pero no lo quisiéramos al final, sino en una posición específica, entonces utilizaremos el método `.insert()` al que primero le indicamos el índice donde queremos posicionar el nuevo elemento y, en segundo lugar, indicamos dicho nuevo elemento.

In [ ]:
names = ["Mario", "Cristian", "Juan"]
print(names)

names.insert(1, "Andrés")
print(names)
names.insert(3, "Miguel")
print(names)

['Mario', 'Cristian', 'Juan']
['Mario', 'Andrés', 'Cristian', 'Juan']
['Mario', 'Andrés', 'Cristian', 'Miguel', 'Juan']

### Tamaño de una lista

Para saber la longitud o el tamaño de una lista, podemos hacer uso de la función `len()`

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
len(l)

9

In [ ]:
l = ["Zoe", "Pablo", "Miguel", "Silvia"]
len(l)

4

In [ ]:
print(names[-1]) # Último elemento

Avelina

In [ ]:
print(names[-3]) # Tercer elemento empezando por el final

Claudia

Si en vez de querer acceder a los elementos uno por uno estamos interesados en acceder a avarios elementos a la vez, podemos hacer uso de la función `:`

In [ ]:
print(names[2:4])

['Claudia', 'Jorge']

In [ ]:
print(names[:3])

['Maria', 'Juan', 'Claudia']

In [ ]:
print(names[3:])

['Jorge', 'Avelina']

Además de acceder, podemos modificar los elementos de una lista

In [ ]:
names[0] = "Marina"
names[3] = "Jaime"
names

['Marina', 'Juan', 'Claudia', 'Jaime', 'Avelina']

Podemos añadir nuevos elementos a una lista con el método `.append()`

**Observación.** Los elementos añadidos con el método `.append()`, se incluyen al final.

Si quisiéramos añadir un nuevo elemento a una lista, pero no lo quisiéramos al final, sino en una posición específica, entonces utilizaremos el método `.insert()` al que primero le indicamos el índice donde queremos posicionar el nuevo elemento y, en segundo lugar, indicamos dicho nuevo elemento.

In [ ]:
names = ["Mario", "Cristian", "Juan"]
print(names)

names.insert(1, "Andrés")
print(names)
names.insert(3, "Miguel")
print(names)

['Mario', 'Cristian', 'Juan']
['Mario', 'Andrés', 'Cristian', 'Juan']
['Mario', 'Andrés', 'Cristian', 'Miguel', 'Juan']

## Bucles con listas

Si quisiéramos imprimir por pantalla todos los elementos de una lista, lo podríamos hacer mediante los índices

In [ ]:
for i in range(len(names)):
  print(names[i])

Mario
Andrés
Cristian
Miguel
Juan

o mucho más fácilmente iterando la lista con un `for` con la siguiente sintaxis:

In [ ]:
for name in names:
  print(name)

Mario
Andrés
Cristian
Miguel
Juan

## Listas anidadas

Las listas anidadas son listas dentro de listas. Es decir, las listas no solo pueden contener números, strings o datos booleanos, sino que también pueden contener otras listas.

---

#### Ejemplo 1

A continuación mostramos una lista anidada, pues consta de 3 elementos:

- 1 lista de 3 strings
- 1 lista heterogénea de 3 elementos que a su vez contiene una lista con 5 números
- 1 número

In [ ]:
l = [["María", "Santos", "Fernández"],
     ["Juan", [1, 2, 3, 4, 5], 32], 
     2]
print(l)

[['María', 'Santos', 'Fernández'], ['Juan', [1, 2, 3, 4, 5], 32], 2]

Para acceder a un elemento, necesitamos indicar su índice. Si un elemento está en una lista dentro de una lista dentro de una lista, en primer lugar indicamos el índice de la lista exterior dentro de `[]`; después, el índice de la siguiente lista más exterior también entre `[]`; y por último, el índice de la lista más interna, claramente también entre `[]`.

Accedamos al string `Fernández`y luego al número `5`.

In [ ]:
print(l[0][2]) # Fernández
print(l[1][1][4]) # 5

Fernández
5

### Matrices

Hay un tipo muy utilizado de listas anidadas. Se caracteriza por ser una lista de $m$ listas, donde cada una de las listas tiene el mismo número de elementos, $n$. A este tipo de listas se les conoce como matrices.

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

escrita en forma de tabla sería: `matrix` $= \displaystyle\begin{pmatrix} 1 & 2 & 3\\ 4 & 5 & 6\\ 7 & 8 & 9\end{pmatrix}$

Para acceder a los elementos de una matriz en `Python`, utilizamos la sintaxis `[][]`, donde primero indicamos la fila y, a continuación, la columna

In [ ]:
matrix[0][2]

3

In [ ]:
matrix[1][1]

5

In [ ]:
matrix[2][0]

7

Podemos mostrar una matriz de `Python` en forma de tabla con un bucle `for`, del siguiente modo

In [ ]:
for row in matrix: # Accedemos a las filas de la matrix
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Si lo que queremos es mostrar todos los elementos de la matriz en columna, podemos utilizar dos bucles `for` anidados del siguiente modo:

In [ ]:
for row in matrix: # Accedemos a las filas
  for element in row: # Accedemos a los elementos de las filas
    print(element)

1
2
3
4
5
6
7
8
9

In [ ]:
for row in matrix:
  for element in row:
    print(element, end = " ")
  print("")

1 2 3
4 5 6
7 8 9

In [ ]:
for row in matrix:
  for element in row:
    print(element, end = " ")
  print("")

1 2 3
4 5 6
7 8 9

#### Matrices con `numpy`

Existe una forma más sencilla de trabajar con matricdes y es gracias a la librería `numpy`. Para importarla, simplemente hay que ejecutar la siguiente línea de código.

In [ ]:
import numpy as np

Para crear una matriz vacía, usamos el método `.empty()`, al que le indicamos por parámetro las dimensiones

In [ ]:
A = np.empty((2, 3)) # 2 filas y 3 columnas
print(A)

[[4.68485418e-310 0.00000000e+000 0.00000000e+000]
 [0.00000000e+000 0.00000000e+000 0.00000000e+000]]

Para crear una matriz vacía con las mismas dimensiones de otra matriz definida anteriormente, usamos el método `.empty_like()`, al que le indicamos por parámetro la matriz existente

In [ ]:
B = np.empty_like(A) # Tendrá 2 filas y 3 columnas
print(B)

[[4.68485418e-310 0.00000000e+000 0.00000000e+000]
 [0.00000000e+000 0.00000000e+000 0.00000000e+000]]

Para crear una matriz nula, usamos el método `.zeros()`, al que le indicamos por parámetro las dimensiones

In [ ]:
C = np.zeros((3, 5)) # Matriz nula de dimensiones 3 x 5
print(C)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

## Diccionario

La segunda estructura de datos que veremos son los **diccionarios**. Éstos son un conjunto de elementos no ordenados escritos entre llaves, `{}`, que constan de claves y valores. 

Cada conjunto `clave: valor` es separado por comas. Las claves funcionan como identificadores y preceden a `:`. A continuación van los valores, que son elementos (numéricos, booleanos, strings, listas, diccionarios...) asociados a esa clave. 

Los diccionarios, al igual que las listas, son:
- hetereogéneos: los elementos pueden ser de distinto tipo en un mismo diccionario
- mutables: los elementos pueden ser modificados

Un ejemplo de diccionario sería

In [ ]:
dicc = {"Jose": 32, "Marina": 21}
print(dicc)

{'Jose': 32, 'Marina': 21}

**Observación.** Al decir que los diccionarios no tienen orden, lo que ocurre es que `Python` no mantendrá el que hemos introducido, tal y como hacía con las listas, sino que reordenará todos los elementos por orden primero numérico (yendo antes los positivos que los negativos) y luego alfabético de las claves. Esto no ocurre si usamos la función `print()`.

In [ ]:
l = ["Jose", "Marina", "Elena"]
l

['Jose', 'Marina', 'Elena']

In [ ]:
dicc = {"Jose": 32,
        "Marina": 21,
        "Elena": 10}
dicc

{'Elena': 10, 'Jose': 32, 'Marina': 21}

In [ ]:
print(dicc)

{'Jose': 32, 'Marina': 21, 'Elena': 10}

In [ ]:
dicc = {"Alba": 2, 7: "a", -5: "b", "Javi": 28}
dicc

{-5: 'b', 7: 'a', 'Alba': 2, 'Javi': 28}

In [ ]:
print(dicc)

{'Alba': 2, 7: 'a', -5: 'b', 'Javi': 28}

**Observación.** Al decir que los diccionarios no tienen orden, lo que ocurre es que `Python` no mantendrá el que hemos introducido, tal y como hacía con las listas, sino que reordenará todos los elementos por orden primero numérico (yendo antes los positivos que los negativos) y luego alfabético de las claves. Esto no ocurre si usamos la función `print()`.

In [ ]:
l = ["Jose", "Marina", "Elena"]
l

['Jose', 'Marina', 'Elena']

In [ ]:
dicc = {"Jose": 32,
        "Marina": 21,
        "Elena": 10}
dicc

{'Elena': 10, 'Jose': 32, 'Marina': 21}

In [ ]:
print(dicc)

{'Jose': 32, 'Marina': 21, 'Elena': 10}

In [ ]:
dicc = {"Alba": 2, 7: "a", -5: "b", "Javi": 28}
dicc

{-5: 'b', 7: 'a', 'Alba': 2, 'Javi': 28}

In [ ]:
print(dicc)

{'Alba': 2, 7: 'a', -5: 'b', 'Javi': 28}

### Elementos de un diccionario

Anteriormente se ha comentado que los diccionarios no tienen orden. De modo que a sus elementos no se accede por posición, sino que debemos hacerlo mediante sus claves.

La sintaxis es `diccionario[clave]`

In [ ]:
dicc = {
    "names": ["Ana", "Borja", "Carmen"],
    "ages" : [31, 25, 16]
    }
dicc["names"]

['Ana', 'Borja', 'Carmen']

In [ ]:
dicc["ages"]

[31, 25, 16]

Poemos acceder a todas las claves de un diccionario con el método `.keys()`

In [ ]:
dicc.keys()

dict_keys(['names', 'ages'])

También podemos acceder a todos los valores de un diccionario con el método `.values()`

In [ ]:
dicc.values()

dict_values([['Ana', 'Borja', 'Carmen'], [31, 25, 16]])

Poemos acceder a todas las claves de un diccionario con el método `.keys()`

In [ ]:
dicc.keys()

dict_keys(['names', 'ages'])

También podemos acceder a todos los valores de un diccionario con el método `.values()`

In [ ]:
dicc.values()

dict_values([['Ana', 'Borja', 'Carmen'], [31, 25, 16]])

Al ser una estructura mutable, podemos modificar los valores de los diccionarios

In [ ]:
dicc = {"names": ["Ana", "Borja", "Carmen"],
        "ages": [31, 25, 16]}
dicc["names"] = ["David", "Emilia", "Fernando"]
dicc["ages"][2] = 36
print(dicc)

{'names': ['David', 'Emilia', 'Fernando'], 'ages': [31, 25, 36]}

## Bucles y diccionarios

Para recorrer todo el diccionario, podemos hacer uso de un bucle `for`, pues el diccionario es una estructura iterable:

In [ ]:
dicc = {"username": "msf",
        "name": "María",
        "age": 22,
        "city": "Palma de Mallorca"}

for key in dicc:
  print(key, ":", dicc[key])

username : msf
name : María
age : 22
city : Palma de Mallorca

El método `.get()` recibe como parámetro una clave y devuelve el valor de dicha clave.

In [ ]:
dicc = {"a": 1, "e": 2, "i": 3, "o": 4, "u": 5}
print(dicc.get("a"))

1

## Bucles y diccionarios

Para recorrer todo el diccionario, podemos hacer uso de un bucle `for`, pues el diccionario es una estructura iterable:

In [ ]:
dicc = {"username": "msf",
        "name": "María",
        "age": 22,
        "city": "Palma de Mallorca"}

for key in dicc:
  print(key, ":", dicc[key])

username : msf
name : María
age : 22
city : Palma de Mallorca

El método `.get()` recibe como parámetro una clave y devuelve el valor de dicha clave.

In [ ]:
dicc = {"a": 1, "e": 2, "i": 3, "o": 4, "u": 5}
print(dicc.get("a"))

1

## Construyendo diccionarios con dict()

Para convertir un objeto iterable de `Python` a diccionario, hay que usar la función `dict()`

In [ ]:
l = [["x", 1], ["y", 2]]
dict(l)

{'x': 1, 'y': 2}

Aunque la función `dict()` también sirve para definir diccionarios directamente:

In [ ]:
dicc1 = dict(x = 0, y = 1, z = -1)
print(dicc1)

{'x': 0, 'y': 1, 'z': -1}

# Estructuras de datos: Conjuntos

## Conjunto

Ahora, es el turno de los **conjuntos**. Éstos son una estructura sin orden que no admiten múltiples ocurrencias de un mismo elemento. Pueden ser definidos a partir de una lista con la función `set()`, o bien, los elementos del conjunto pueden ir entre llaves, `{}`, y estar separados por comas.

Los conjuntos son:
- hetereogéneos: los elementos pueden ser de distinto tipo en un mismo conjunto
- no mutables: los elementos no pueden ser modifcados una vez el conjunto ha sido creado

Los conjuntos pueden construirse con la función `set()` o directamente entre llaves, `{}`.

In [ ]:
set1 = set([1, 7, 4, 2, 0])
print(set1)
type(set1)

{0, 1, 2, 4, 7}

set

In [ ]:
set2 = set((1, 7, 4, 2, 0))
print(set2)
type(set2)

{0, 1, 2, 4, 7}

set

Como se ha dicho antes, los conjuntos no admiten elementos repetidos:

In [ ]:
set1 = {1, 2, 2, 3, 3, 3, 4, 4, 4, 4}
set1

{1, 2, 3, 4}

**Observación.** Al decir que los conjuntos no tienen orden, lo que ocurre es que `Python` no mantendrá el que hemos introducido, tal y como hacía con las listas, sino que reordenará todos los elementos por orden primero numérico (yendo antes los negativos que los positivos) y luego alfabético de las claves. Con la función `print()`, si hay elementos negativos, el conjunto no se ordena correctamente.

In [ ]:
set1 = {1, "a", "i", "o", 2, "e", 4, 3, 5, "u"}
set1

{1, 2, 3, 4, 5, 'a', 'e', 'i', 'o', 'u'}

In [ ]:
print(set1)

{1, 2, 'e', 4, 'a', 3, 5, 'o', 'u', 'i'}

### Subconjuntos

**Subconjunto.** Un subconjunto $B$ de un conjunto $A$ es un conjunto que contiene algunos de los elementos de $A$ (o quizá todos). Se denota por $B\subseteq A$

**Subconjunto propio.** Un subconjunto propio $B$ de un conjunto $A$ es un conjunto que tiene algunos de los elementos de $A$, pero no todos. Se denota por $B\subset A$

Para saber si un conjunto $B$ es subconjunto del conjunto $A$, podemos utilizar el método `.issubset()` o el comparador `<=`. Para saber si se trata de un subconjunto propio, tenemos el comparador `<`.

In [ ]:
A, B = {0, 3, 7, 2, 5}, {2, 3, 0}
B.issubset(A)

True

In [ ]:
B <= A

True

In [ ]:
B < A

True

## Tupla

La última estructura que veremos son las tuplas. Éstas son un conjunto de elementos, que pueden ser de distintos tipos, separados por comas y escritos entre paréntesis, `()`.

Las tuplas son:
- hetereogéneas: los elementos pueden ser de distinto tipo en una misma tupla
- no mutables: los elementos no pueden ser modifcados una vez la tupla ha sido creado

Un ejemplo de tupla sería

In [ ]:
t = ("Juan", 32, "profesor", True)
print(t)

('Juan', 32, 'profesor', True)

Podemos declarar una tupla sin necesidad indicar sus elementos entre paréntesis

In [ ]:
t = "Juan", 32, "profesor", True
type(t)

tuple

# Funciones

## Función

**Función.** Una función en `Python` es una pieza de código reutilizable que solo se ejecuta cuando es llamada.

Se define usando la palabra reservada `def` y estructura general es la siguiente:

In [ ]:
def nombre_funcion(input1, input2, ..., inputn):
  cuerpo de la función
  return output

**Observación.** La instrucción `return` finaliza la ejecución de la función y devuelve el resultado que se indica a continuación. Si no se indicase nada, la función finalizaría, pero no retornaría nada.

Como hemos visto, en general, las funciones constan de 3 partes:

- **Inputs (parámetros o argumentos).** Son los valores que le pasamos como entrada a la función.
- **Cuerpo.** Son todas las operaciones que lleva a cabo la función.
- **Output.** Es el resultado que devuelve la función.

**Observación.** Los parámetros son variables internas de la función. Si probásemos a ejecutar una de dichas variables en el entorno global, nos saltaría un error. Este tema lo trataremos más en detalle más adelante.

Con lo visto anteriormente, a la hora de construir una función hau que hacerse las siguientes preguntas:

- ¿Qué datos necesita conocer la función? (inputs)
- ¿Qué hace la función? (cuerpo)
- ¿Qué devuelve? (output)

**Observación.** Los inputs y el output son opcionales: podemos definir una función sin necesidad de proporcionarle inputs y sin que nos devuelva nada.

Una vez definida una función, para llamarla utilizamos su nombre seguido de paréntesis:

In [ ]:
def my_first_function():
    print("Tu primera función te saluda")

In [ ]:
my_first_function()

Tu primera función te saluda

---

#### Ejemplo 3

Veamos ahora un ejemplo de función que no nos devuelva nada, pero que sí toma algún parámetro

In [ ]:
def good_morning(name):
  print("¡Buenos días, {}!".format(name))

In [ ]:
good_morning("Christopher")
good_morning(name = "Don José")

¡Buenos días, Christopher!
¡Buenos días, Don José!

In [ ]:
good_morning("María")

¡Buenos días, María!

---

#### Ejemplo 4

Por último, vamos a crear una función que nos calcule la división entera de dos números y nos retorne el cociente y el resto.

In [ ]:
def euclidean_division(x, y):
  q = x // y
  r = x % y
  return q, r

Esta función, a la que hemos llamado `euclidean_division`, calcula el cociente y el resto de dos números cualesquiera y devuelve como resultado esos dos números calculados.

Utilicemos ahora nuestra función para calcular el cociente y el resto de la división $41 \div 7$

In [ ]:
euclidean_division(x = 41, y = 7)

(5, 6)

In [ ]:
euclidean_division(41, 7)

(5, 6)

Al llamar a la función e indicarle por parámetros `x = 41` e `y = 7`, hemos obtenido como resultado la tupla `(5, 6)`. El significado de dicho resulatdo es que el cociente entero de $41\div 7$ es 5, mientras que el resto es $6$. Efectivamente

$$41 = 7\cdot 5 + 6$$

También podríamos guardar en variables diferentes los resultados que nos devuelve nuestra función, para poder trabajar con ellos en el entorno global

In [ ]:
quotient, remainder = euclidean_division(x = 41, y = 7)
print(quotient)
print(remainder)
print(41 == 7 * quotient + remainder)

5
6
True

## Parámetros

Por defecto, una función debe ser llamada con el número correcto de argumentos. Esto es, si la función espera 2 argumentos, tenemos que llamar a la función con esos 2 argumentos. Ni más, ni menos.

In [ ]:
def complete_name(name, surname):
  print("El nombre completo es", name, surname)

Si intentamos llamar a la función `complete_name()` pasando 1 solo parámetro o 3 parámetros, entonces la función devuelve error.

In [ ]:
complete_name(name = "María")

TypeError: ignored

### Número arbitrario de argumentos

Si no sabemos el número de parámetros que van a ser introducidos, entonces añadimos un asterisco `*` previo al nombre del parámetro en la definición de la función. Los valores introducidos serán guardados en una tupla.

In [ ]:
def sum_numbers(*numbers):
  sum = 0
  for n in numbers:
    sum += n
  
  return sum

In [ ]:
sum_numbers(1, 2, 3)

6

En realidad, los nombres completos pueden tener dos o incluso más apellidos, pero no sabemos si el usuario tiene 1 o 2 o más. Entones, podemos añadir dos asteriscos `**` antes del nombre del parámetro para así poder introducir tantos como queramos sin que salte error

In [ ]:
def complete_name(name, **surname):
    print("El nombre completo es {}".format(name), end = " ")
    for i in surname.items():
      print("{}".format(i[1]), end = " ")

In [ ]:
complete_name(name = "María", surname1 = "Santos", surname2 = "Fernández")

El nombre completo es María Santos Fernández

In [ ]:
complete_name(name = "María", surname = "Santos")

El nombre completo es María Santos

### Parámetros por defecto

Hemos visto que una función en `Python` puede tener o no parámetros.

En caso de tener, podemos indicar que alguno tenga un valor por defecto.

La función `diff()` calcula la diferencia entre los dos números que introducimos por parámetros. Podemos hacer que el sustraendo por defecto valga 1 del siguiente modo:

In [ ]:
def diff(x, y = 1):
  return x - y

In [ ]:
diff(65, 18)

47

Si ahora llamamos a la función indicando únicamente el valor del parámetro `x`, ocurre lo siguiente:

In [ ]:
diff(x = 20)

19

## Docstring

**Docstring.** Son comentarios explicativos que ayudan a comprender el funcionamiento de una función.

- Van entre triple comilla doble
- Pueden ser multilínea
- Se sitúan al principio de la definición de la función

Retomando el ejemplo de la división entera, podríamos utilizar docstring del siguiente modo:

In [ ]:
def euclidean_division(x, y):
  """
  Esta función calcula el cociente y el resto de la
  división entera de x entre y.

  Args:
    x (int): dividendo
    y (int): divisor (que no puede ser cero)

  Returns:
    (q, r): tupla con el valor de (cociente, resto)
  """
  q = x // y
  r = x % y
  return q, r

Con la ayuda del método `.__doc__` podemos acceder directamente a la información indicada en el docstring de una función

In [ ]:
print(euclidean_division.__doc__)

  Esta función calcula el cociente y el resto de la
  división entera de x entre y.

  Args:
    x (int): dividendo
    y (int): divisor (que no puede ser cero)

  Returns:
    (q, r): tupla con el valor de (cociente, resto)

## Variables de una función

Dentro de una función en `Python` existen dos tipos de variables:

- **Variable local.** Aquella que es creada y solamente existe dentro de la función.
- **Variable global.** Aquella que es creada en el entorno global.

Dada la siguiente función:

In [ ]:
def arithmetic_operations(x, y):
  sum = x + y
  diff = x - y
  prod = x * y
  div = x / y
  return {"sum": sum,
          "difference": diff,
          "product": prod,
          "division": div}

Si nosotros queremos imprimir por ejemplo el valor que toma la variable `prod` en el entorno global nos saltará un error, pues esta variable no existe a nivel global porque no ha sido declarada en dicho entorno ya que solamente ha sido declarada a nivel local, dentro de la función `arithmetic_operations()`.

In [ ]:
print(arithmetic_operations(x = 5, y = 3))

{'sum': 8, 'difference': 2, 'product': 15, 'division': 1.6666666666666667}

In [ ]:
print(prod)

NameError: ignored

Si dentro de una función utilizamos la palabra reservada `global` a una variable local, ésta automáticamente pasa a ser una variable global previamente definida.

Veamos un ejemplo de función que nos devuelve el siguiente número del entero `n` definido en el entorno global:

In [ ]:
n = 7

def next_n():
  global n
  return n + 1

next_n()

8

### Paso por copia vs. paso por referencia

Dependiendo del tipo de dato que pasemos por parámetro a la función, podemos diferenciar entre

- **Paso por copia.** Se crea una copia local de la variable dentro de la función.
- **Paso por referencia.** Se maneja directamnete la variable y los cambios realizados dentro de la función afectan también a nivel global.

En general, los tipos de datos básicos como enteros, en coma flotante, strings o booleanos se pasan por copia, mientras que estructuras de datos como listas, diccionarios, conjuntos o tuplas u otros objetos se pasan por referencia.

Un ejemplo de paso por copia sería

In [ ]:
def double_value(n):
    n = n*2
    return n

In [ ]:
num = 5
print(double_value(num))
print(num)

10
5

Un ejemplo de paso por referencia sería

In [ ]:
def double_values(ns):
  for i, n in enumerate(ns):
    ns[i] *= 2

  return ns

In [ ]:
nums = [1, 2, 3, 4, 5]
print(double_values(nums))
print(nums)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

---

#### Ejemplo 6

Veamos ahora una función que contiene un bucle `for` y que dado un número entero, nos imprime su tabla de multiplicar con sus 10 primeros múltiplos y nos devuelve una lista con todos esos múltiplos:

In [ ]:
def multiplication_table10(num):
  """
  Dado un número entero, imprimimos su tabla de multiplicar con
  los 10 primeros múltiplos y devolvemos una lista de los múltiplos. 

  Args:
    num (int): valor del cual vamos a calcular sus tabla de multiplicar

  Returns: 
    multiples (list): lista con los 10 primeros múltiplos de num
  """
  multiples = []
  print("La tabla de multiplicar del {}:".format(num))
  
  for i in range(1, 11):
    multiple = num * i
    print("{} x {} = {}".format(num, i, multiple))
    multiples.append(multiple)
  
  return multiples

In [ ]:
multiples7 = multiplication_table10(num = 7)
print(multiples7)

La tabla de multiplicar del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

## Funciones recursivas

**Función recursiva.** Es una función que se llama a sí misma.

**¡Cuidado!** Hay que tener mucho cuidado con este tipo de funciones porque podemos caer en un bucle infinito. Es decir, que la función no acabara nunca de ejecutarse.

Una función recursiva que entraría en bucle infinito sería la siguiente.

In [ ]:
def powers(x, n):
  print(x ** n)
  powers(x, n + 1)

## Funciones helper

Al igual que las funciones pueden llamarse a sí mismas, también pueden llamar a otras funciones.

**Función helper.** Es una función cuyo propósito es evitar la repetición de código.

Si nos dan la siguiente función

In [ ]:
def sign_sum(x, y):
  if x + y > 0:
    print("El resultado de sumar {} más {} es positivo".format(x, y))
  elif x + y == 0:
    print("El resultado de sumar {} más {} es cero".format(x, y))
  else:
    print("El resultado de sumar {} más {} es negativo".format(x, y))

In [ ]:
sign_sum(5, 4)
sign_sum(3, -3)
sign_sum(1, -8)

El resultado de sumar 5 más 4 es positivo
El resultado de sumar 3 más -3 es cero
El resultado de sumar 1 más -8 es negativo

Vemos que el `print` se repite salvo por la última palabra.

Podríamos pensar en crear la función helper siguiente:

In [ ]:
def helper_print(x, y, sign):
  print("El resultado de sumar {} más {} es {}.".format(x, y, sign))

Si utilizamos la función helper, la función `sign_sum()` quedaría modificada del siguiente modo:

In [ ]:
def sign_sum(x, y):
  if x + y > 0:
    helper_print(x, y, "positivo")
  elif x + y == 0:
    helper_print(x, y, "cero")
  else:
    helper_print(x, y, "negativo")

In [ ]:
sign_sum(5, 4)
sign_sum(3, -3)
sign_sum(1, -8)

El resultado de sumar 5 más 4 es positivo.
El resultado de sumar 3 más -3 es cero.
El resultado de sumar 1 más -8 es negativo.

# Funciones `lambda`

## Funciones `lambda`

Son un tipo especial de funciones de `Python` que tienen la sintaxis siguiente

In [ ]:
lambda parámetros: expresión

- Son útiles para ejecutar funciones en una sola línea
- Pueden tomar cualquier número de argumentos
- Tienen una limitación: solamente pueden contener una expresión

Veamos algunos ejemplos

---

#### Ejemplo 1

Función que dado un número, le suma 10 puntos más:

In [ ]:
plus10 = lambda x: x + 10
plus10(5)

15

---

#### Ejemplo 2

Función que calcula el producto de dos números:

In [ ]:
prod = lambda x, y: x * y

In [ ]:
prod(5, 10)

50

## La función `filter()`

- Aplica una función a todos los elementos de un objeto iterable
- Devuelve un objeto generador, de ahí que usemos la función `list()` para convertirlo a lista
- Como output, devuelve los elementos para los cuales el aplicar la función ha devuelto `True`

Con la ayuda de las funciones `lambda`, apliquemos `filter()` para quedarnos con los números múltiplos de 7 de la siguiente lista llamada `nums`

In [ ]:
nums = [49, 57, 62, 147, 2101, 22]
list(filter(lambda x: (x % 7 == 0), nums))

[49, 147]

La función proporcionada a `filter()` no tiene por qué ser `lambda`, sino que puede ser una ya existente, o bien una creada por nosotros mismos.

Con las siguientes líneas de código vamos a obtener todas las palabras cuya tercera letra sea `s` haciendo uso de `filter()` y la función creada `third_letter_is_s()`:

In [ ]:
def third_letter_is_s(word):
  return word[2] == "s"

In [ ]:
words = ["castaña", "astronomía", "masa", "bolígrafo", "mando", "tostada"]
list(filter(third_letter_is_s, words))

['castaña', 'masa', 'tostada']

## La función `map()`

- Aplica una misma función a todos los elementos de un objeto iterable
- Devuelve un objeto generador, de ahí que usemos la función `list()` para convertirlo a lista
- Como output, devuelve el resultado de aplicar la función a cada elemento

Con la ayuda de las funciones `lambda`, apliquemos `map()` para calcular las longitudes de las siguientes palabras

In [ ]:
words = ["zapato", "amigo", "yoyo", "barco", "xilófono", "césped"]
list(map(lambda w: len(w), words))

[6, 5, 4, 5, 8, 6]

Sin embargo, para este caso en concreto no haría falta usar funciones `lambda`, pues podríamos hacer directamente

In [ ]:
list(map(len, words))

[6, 5, 4, 5, 8, 6]

# Dataframes con el módulo `pandas`

## Introducción

**Dataframe.** Es una estructura bidimensional mutable de datos con los ejes etiquetados donde

- cada fila representa una observación diferente
- cada columna representa una variable diferente

En `Python`, para definir un dataframe, en primer lugar necesitamos importar el módulo `pandas`.

In [ ]:
import pandas as pd

A continuación, si queremos un dataframe de 5 filas y 2 columnas, podemos hacerlo a partir de un diccionario, una lista de listas, una lista de diccionarios, etc.

---

#### Ejemplo 1

Vamos a crear un dataframe de 5 filas y 2 columnas a partir de un diccionario.

Para ello, primero creamos un diccionario donde las claves serán los nombres de las columnas y los valores serán listas, con tantos elementos como número de filas queramos.

Finalmente, convertimos ese diccionario a dataframe con la función `DataFrame()` de `pandas`:

In [ ]:
data = {"x": [1, 2, 3, 4, 5], "y": [2, 4, 6, 8, 10]}
df1 = pd.DataFrame(data = data)
print(df1)

   x   y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

## Subdataframes

**Subdataframe.** Dado un dataframe, un subdataframe no es más que la selección de unas filas y columnas en particular.

### Columnas

Dado un dataframe, podemos seleccionar una columna en particular de diversas formas:

- Indicando el nombre de la columna entre claudators, `[]`
- Con el método `.columns[]`
- Con el método `.loc[]` (por nombre o etiqueta)
- Con el método `.iloc[]` (por posición)

In [ ]:
fdata = {"Name": ["Alicia", "Bill", "Carlos", "Diana"],
        "Age": [22, 28, 19, 34],
        "Pet": [True, False, False, True],
        "Height": [157, 190, 175, 164],
        "Birthday": ["Mayo", "Junio", "Agosto", "Diciembre"]}
df = pd.DataFrame(data = fdata, index = ["obs1", "obs2", "obs3", "obs4"])

In [ ]:
df

        Name  Age    Pet  Height   Birthday
obs1  Alicia   22   True     157       Mayo
obs2    Bill   28  False     190      Junio
obs3  Carlos   19  False     175     Agosto
obs4   Diana   34   True     164  Diciembre

In [ ]:
# Seleccionamos la columna Birthday por nombre
print(df["Birthday"])

obs1         Mayo
obs2        Junio
obs3       Agosto
obs4    Diciembre
Name: Birthday, dtype: object

In [ ]:
# Seleccionamos la columna Birthday con el método .columns[]
print(df[df.columns[4]])

obs1         Mayo
obs2        Junio
obs3       Agosto
obs4    Diciembre
Name: Birthday, dtype: object

In [ ]:
# Seleccionamos la columna Birthday con el método .loc[]
print(df.loc[:, "Birthday"])

obs1         Mayo
obs2        Junio
obs3       Agosto
obs4    Diciembre
Name: Birthday, dtype: object

**Observación.** Al método `.loc[]` le hemos indicado que tome todas las filas con `:` en la primera posición y la columna `"Birthday"` directamente indicando su nommbre en la segunda posición.

In [ ]:
# Seleccionamos la columna Birthday con el método .iloc[]
print(df.iloc[:, 4])

0         Mayo
1        Junio
2       Agosto
3    Diciembre
Name: Birthday, dtype: object

**Observación.** Al método `.iloc[]` le hemos indicado que tome todas las filas con `:` en la primera posición y la columna `"Birthday"` indicando el índice que ocupa como columna.

Si quisiésemos seleccionar más de una columna, podríamos hacerlo con todas las opciones enumeradas anteriormente, con ligeras modificaciones en algunos casos:

In [ ]:
# Seleccionamos las columnas Name y Age por nombre
print(df[["Name", "Age"]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

In [ ]:
# Seleccionamos las columnas Name y Age con el método .columns[]
print(df[df.columns[[0, 1]]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

**Observación.** Además, como estas dos columnas están seguidas en nuestro dataframe, podríamos también usar la sintaxis siguiente no solo en esta opción, sino también en el resto de opciones que hemos visto.

In [ ]:
print(df[df.columns[0:2]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

In [ ]:
# Seleccionamos las columnas Name y Age con el método .loc[]
print(df.loc[:, ["Name", "Age"]])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

In [ ]:
print(df.loc[:, "Name":"Age"])

        Name  Age
obs1  Alicia   22
obs2    Bill   28
obs3  Carlos   19
obs4   Diana   34

### Filas

Dado un dataframe, podemos seleccionar una fila en particular de diversas formas:

- Con el método `.loc[]` (por nombre o etiqueta)
- Con el método `.iloc[]` (por posición)

In [ ]:
# Seleccionamos la primera observación (obs1) con el método .loc[]
print(df.loc["obs1"])

Name        Alicia
Age             22
Pet           True
Height         157
Birthday      Mayo
Name: obs1, dtype: object

In [ ]:
type(df.loc["obs1"])

pandas.core.series.Series

### Filas y columnas

Para seleccionar un elemento en concreto, hay que indicar la fila y la columna y lo podemos hacer de dos formas:

- Con el método `.loc[]` (por nombre o etiqueta)
- Con el método `.iloc[]` (por índice)

In [ ]:
# Seleccionamos la edad de la segunda observación con el método .loc[]
print(df.loc["obs2", "Age"])

28

In [ ]:
# Seleccionamos la edad de la segunda observación con el método .iloc[]
print(df.iloc[1, 1])

28

Si queremos seleccionar un subconjunto de filas y columnas, podemos utilizar los dos métodos anteriores

In [ ]:
# Seleccionamos la segunda y tercera fila y las columnas nombre y cumpleaños
# Con el método .loc[]
print(df.loc["obs2":"obs3", ["Name", "Birthday"]])

        Name Birthday
obs2    Bill    Junio
obs3  Carlos   Agosto

In [ ]:
# Con el método .iloc[]
print(df.iloc[1:3, [0, 4]])

        Name Birthday
obs2    Bill    Junio
obs3  Carlos   Agosto

## Bucles y dataframes

Para iterar sobre las filas de un dataframe, podemos utilizar los métodos:

- `.iterrows()`
- `.itertuples()`

In [ ]:
d = {"name": ["Juan Gabriel", "María", "Ricardo"],
     "surname": ["Gomila", "Santos", "Alberich"],
     "gender": ["m", "f", "m"]}

df = pd.DataFrame(d)
df

           name   surname gender
0  Juan Gabriel    Gomila      m
1         María    Santos      f
2       Ricardo  Alberich      m

Usamos `.iterrows()` para obtener el índice de cada fila junto al contenido de cada una:

In [ ]:
for i, j in df.iterrows():
  print("Índice de la fila: {},\n\nContenido de la fila:\n{}".format(i, j), end = "\n\n\n")

Índice de la fila: 0,

Contenido de la fila:
name       Juan Gabriel
surname          Gomila
gender                m
Name: 0, dtype: object


Índice de la fila: 1,

Contenido de la fila:
name        María
surname    Santos
gender          f
Name: 1, dtype: object


Índice de la fila: 2,

Contenido de la fila:
name        Ricardo
surname    Alberich
gender            m
Name: 2, dtype: object

Usamos `.itertuples()` para obtener una tupla con toda la información de cada fila:

In [ ]:
for i in df.itertuples():
  print("Contenido de la fila:\n{}".format(i), end = "\n\n")

Contenido de la fila:
Pandas(Index=0, name='Juan Gabriel', surname='Gomila', gender='m')

Contenido de la fila:
Pandas(Index=1, name='María', surname='Santos', gender='f')

Contenido de la fila:
Pandas(Index=2, name='Ricardo', surname='Alberich', gender='m')

# Módulos de `Python`: `numpy`

## `numpy`

`numpy` es un módulo para trabajar con arrays, que son un tipo de lista, lo que mucho más rápidos de procesar.

El objeto array de `numpy` recibe el nombre de `ndarray`. Este tipo de dato es muy usado en el mundo de la ciencia de datos, donde la velocidad y los recursos son de gran importancia.

#### Creando arrays

Para crear un `ndarray` usamos el método `.array()`.

Lo podemos hacer a partir de una lista:

In [ ]:
a = np.array([1, 2, 3, 4, 5])
print(a)

[1 2 3 4 5]

In [ ]:
print(type(a))

<class 'numpy.ndarray'>

O bien, a partir de una tupla:

In [ ]:
b = np.array((1, 2, 3, 4, 5, 6, 7))
print(b)

[1 2 3 4 5 6 7]

In [ ]:
print(type(b))

<class 'numpy.ndarray'>

### Dimensiones de un array

La dimensión de una array viene dada por el nivel de profundidad de éste.

Para saber la dimensión de un array, podemos usar la propiedad `.ndim`

**¡Cuidado!**. En las versiones actuales de `Python`, si creamos un array $n$-dimensional, entonces todos los arrays de dimensión fija $m < n$, deben contener el mismo número de elementos. Es decir, si creamos un array de 4 dimensiones, todos los arrays de 3 dimensiones deben tener el mismo número de elementos; por su parte, todos los arrays de 2 dimensiones, deben tener el mismo número de elementos; y lo mismo para los arrays 1-dimensionales. Esto se debe a que en caso contrario, el atributo `.shape` que veremos a continuación no tendría sentido.

#### Arrays 0-dimensionales

Son los arrays constantes: